/*=================GENERAL================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

*{
    margin:0;
    padding: 0;
    font-family: "trebuchet ms", Arial
}

body{
    background-color: #999
}

ul {
    /*To eliminate whitespace between list elements*/
    display: flex;
}

#contenedor{
    background-color: #fff;
    width: 1280px;
    margin: 0px auto;
}

section{
    padding: 25px;
}

/*=================HEADER=================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

header{
    height: 225px;
    width: 100%;
    display:flex;
}

header span{
    display:flex;
    align-items: center;
    justify-content: center;
}

header span nav ul{
    list-style-type: none;
}
header span nav ul li{
    /*Leaving horizontal space in between the nav elevements, ie the list items*/
    padding-left: 20px;
    padding-right: 20px;
}
header span nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: auto;
    text-align: center;
    color:#000;
    /*leaving 2 px up and down*/
    font-size: 41px; 
}

/*=================FOOTER=================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

footer{
    height:172px;
    width: 100%;
    
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#disclaimer{
    height: 64px;
}

footer span p{
    color:white;
    text-align: center;
    line-height: 64px;
}

#socialMedia{
    height: 64px;
    margin: 0px 50px 0px 0px;
    display:flex;
    justify-content: flex-end;
}

footer span img{
    display: inline-block;
    margin: 0 7px; 
}

/*=================WIDTHS FOR FLEX SPANS=================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

.width-1-quarter{
    flex-grow: 1;
    width: 25%;
}

.width-3-quarter{
    flex-grow: 1;
    width: 75%;
}

.width-half{
    flex-grow: 1;
    width: 50%;
}