/*=================GENERAL================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
*{
    margin:0;
    padding: 0;
    font-family: 'Changa', sans-serif;
}

/*variables globales*/
:root {
    /*applies to all sections*/
    --leftMargin: 60px;

    /*applies to section titles*/
    --h2PlusMargins: 50px;

    /*applies to li in ul in resenia*/
    --reseniaCharactersLineHeight: 30px;
    --reseniaCharactersFontSize: 18px;

    /**/
    --capitulosDescriptionTitlesFontSize: 20px;
    --capitulosDescriptionTitlesLineHeight: 22px;
    
    --capitulosDescriptionFocusedFontSize: 12px;
    --capitulosDescriptionFocusedLineHeight: 16px;

    --capitulosDescriptionGridFontSize: 10px;
    --capitulosDescriptionGridLineHeight: 12px;
}

body{
    background-color: rgb(30, 30, 30);
}

#contenedor{
    background-color: #fff;
    width: 1280px;
    margin: 0px auto;
    margin-bottom: 100px;
    
    /*for some reason this just displays on top corners*/
    /*border-radius:15px;*/    
}

section{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: var(--leftMargin);
}

section h2{
    text-transform: uppercase;

    /* adjust --h2PlusMargins definition accordingly if these values change */
    line-height: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.background-container{
    z-index: -1;
}

/*=================HEADER=================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

header{
    height: 140px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

header img{
    margin: 10px;
}

header nav {
    display:flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li{
    /*Leaving horizontal space in between the nav elevements, ie the list items*/
    padding-left: 20px;
    padding-right: 20px;
}

header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    height: 30px;
    width: auto;
    text-align: center;
    color:#558FCC;
    /*leaving 2 px up and down*/
    font-size: 28px; 
    font-weight: 800;
}

/*=================MAIN RESEÑA============*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

#resenia{
    /*por los 50px de margin left de todos los section*/
    width: calc(100% - var(--leftMargin));
    height: calc(225px + var(--h2PlusMargins));
    display:flex;
    flex-direction: column;
}

#resenia img {
    border-radius: 15px 45px;
}

.reseniaContent{
    display:flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    justify-content: space-between;
}

.reseniaCharacters{
    display:flex; /* possibly redundant */
    flex-direction: column;
    flex-basis: 360px;
}

#reseniaCharacters-ul{
    /*doing this so this element occupies the entire 
    width of the container and aligns to the left*/
    width: 100%;

    list-style-image: url('img/starFleetBadge24x24.svg');
    list-style-position: inside;
}

#reseniaCharacters-ul li{
    font-size: var(--reseniaCharactersFontSize);
    line-height: var(--reseniaCharactersLineHeight);
    height: var(--reseniaCharactersLineHeight);
    color:#000;
    margin: 5px 0px 5px 0px;
}

.li-main{
    font-weight: bold;
}

.verticalDash:before{
    content: " | ";
}

.li-sub{
    font-weight: normal;
}


/*=================MAIN CAPITULOS=========*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

/*general*/
#capitulos{
    /*por los 50px de margin left de todos los section*/
    width: calc(100% - var(--leftMargin));
    height: calc(550px + var(--h2PlusMargins));
    display:flex;
    flex-direction: column;
}

#episodesContent{
    width: 100%;
    height: 550px;
    display:flex;
    flex-direction: row;
}

#capitulos article{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#capitulos .episodeNumber{
    font-size:var(--capitulosDescriptionTitlesFontSize);
    line-height: var(--capitulosDescriptionTitlesLineHeight);
    font-weight: bold;
}

#capitulos .episodeTitle{
    font-size:var(--capitulosDescriptionTitlesFontSize);
    line-height: var(--capitulosDescriptionTitlesLineHeight);
    font-weight: normal;
}

.episodeAmpliarButton {
    text-align: center;
    line-height:30px;
    width: 125px;
	background-color:#8a8a8a;
	color:#ffffff;
	font-size:14px;
    text-decoration:none;
    text-transform: uppercase;
}
.episodeAmpliarButton:hover {
	background-color:#d1d1d1;
}
.episodeAmpliarButton:active {
	position:relative;
	top:1px;
}

/*focused*/
.focusedEpisode{
    width: 480px;
    height: 100%;
    font-size: var(--capitulosDescriptionFocusedFontSize);
    line-height: var(--capitulosDescriptionFocusedLineHeight);
    margin-right: 75px;
}

.focusedEpisode img,
.focusedEpisode div,
.focusedEpisode p{
    margin-bottom: 10px;
}

.focusedEpisode img{
    width: 480px;
    height: 290px;
    object-fit: cover;
    border-radius: 15px 45px;
}

.focusedEpisode .verticalDash:before{
    content: " | ";
    font-size:var(--capitulosDescriptionTitlesFontSize);
}

/*grid*/
.episodesGrid{
    width: 600px;
    height: 100%;
    margin-right: 75px;
    display:flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: var(--capitulosDescriptionGridFontSize);
    line-height: var(--capitulosDescriptionGridLineHeight);
}

.episodesGrid article{
    width: 180px;
    margin-bottom: 30px;
}

.episodesGrid img{
    width: 180px;
    height: 109px;
    object-fit: cover;
    border-radius: 5px 15px;
}

.episodesGrid .episodeDescriptionExtra {
    display: none;
}

.episodesGrid .verticalDash:before{
    content: none;
}

.episodesGrid .episodeHeader{
    display:flex;   
    flex-direction: column;
}

/*=================FOOTER=================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

footer{
    height:115px;
    width: 100%;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#disclaimer{
    height: 40px;
}

footer div p{
    color:white;
    text-align: center;
    line-height: 40px;
}

#socialMedia{
    height: 40px;
    margin: 0px 45px 0px 0px;
    display:flex;
    justify-content: flex-end;
}

footer div img{
    display: inline-block;
    margin: 0 7px; 
}

/*=================WIDTHS FOR FLEX SPANS=================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

.width-1-quarter{
    flex-basis: 25%;
}

.width360{
    flex-basis: 360px;
    width: 360px;
}

.width-3-quarter{
    flex-basis: 75%;
}

.width-half{
    flex-basis: 50%;
}

.width-1-third{
    flex-basis: 33%;
}