/*=================GENERAL================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
*{
    margin:0;
    padding: 0;
    font-family: 'Changa', sans-serif;
}

/*variables globales*/
:root {
    /*main container width*/
    --fullWidth: 1280px;

    /*applies to all sections*/
    --insideMargin: 50px;

    /*applies to section titles*/
    --h1PlusMargins: 58px;

    /*applies to li in ul in resenia*/
    --reseniaCharactersLineHeight: 30px;
    --reseniaCharactersFontSize: 18px;
}

body{
    background-color: rgb(30, 30, 30);
}

#contenedor{
    background-color: #fff;
    width: 1280px;
    margin: 0px auto;
    margin-bottom: 100px;
}

p{
    font-size: 14px;
    line-height: 18px;
}

img{
    object-fit: cover;
}

section{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: var(--insideMargin);
}

section h1{
    text-transform: uppercase;
    line-height: 48px;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2{
    line-height: 30px;
    font-size: 24px;
}


.background-container{
    z-index: -1;
}

/*=================SIMPLE WIDTHS FOR FLEX================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

.width-1-quarter{
    flex-basis: 25%;
}

.width360{
    flex-basis: 360px;
    width: 360px;
}

.width-3-quarter{
    flex-basis: 75%;
}

.width-half{
    flex-basis: 50%;
}

.width-1-third{
    flex-basis: 33%;
}

/*=================HEADER=================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

header{
    /*height: 140px;*/
    width: calc(var(--fullWidth) - (2 * (var(--insideMargin))));
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--insideMargin);
    margin-left: var(--insideMargin);
    padding-top: 10px;
    padding-bottom: 10px;
}

header img{
    height: 140px;
}

header nav {
    display:flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li{
    /*Leaving horizontal space in between the nav elevements*/
    padding-left: 20px;
    padding-right: 20px;
}

.headerNavButton {  
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 28px;
    border-radius: 4px 12px;
    width: auto;
    text-align: center;
    background-color:#558FCC;
    color: #FFFFFF;
    /*leaving 2 px up and down*/
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 800;
}

.headerNavButton:hover {
    background-color:#66CCFF;
    color: #FFFFFF;
}

.headerNavButton:active {
    /*cant reset if user clicks and moves cursor away while clicking*/
    /*background-color:#336699;
    color: #CCCCCC;*/

    /*moves the button down a pixel when depressed*/
	position:relative;
    top:1px;
}

/*=================MAIN RESEÑA============*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

#resenia{
    /*por los 50px de margin left de todos los section*/
    width: calc(100% - var(--insideMargin));
    display:flex;
    flex-direction: column;
}

#resenia img {
    border-radius: 15px 45px;
    height: 225px;
}

.reseniaContent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.reseniaCharacters{
    display:flex; /* possibly redundant */
    flex-direction: column;
    flex-basis: 360px;
}

#reseniaCharacters-ul{
    /*doing this so this element occupies the entire 
    width of the container and aligns to the left*/
    width: 100%;

    list-style-image: url('img/starFleetBadge24x24.svg');
    list-style-position: inside;
}

#reseniaCharacters-ul li{
    font-size: var(--reseniaCharactersFontSize);
    line-height: var(--reseniaCharactersLineHeight);
    color:#000;
    margin: 5px 0px 5px 0px;
}

#reseniaCharacters-ul li strong::after{
    font-weight: normal;
    content: " | ";
}

/*=================MAIN CAPITULOS=========*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

#capitulos{
    width: calc(var(--fullWidth) - 2 * var(--insideMargin));
    display:flex;
    flex-direction: column;
}

#episodesContent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#capitulos article{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#capitulos h2{
    font-weight: normal;
}

.episodeAmpliarButton {
    text-align: center;
    line-height:30px;
    width: 125px;
    border-radius: 3px 9px;
    background-color:#558FCC;
    color: #FFFFFF;
	font-size:14px;
    text-decoration:none;
    text-transform: uppercase;
}
.episodeAmpliarButton:hover {
    background-color:#66CCFF;
    color: #FFFFFF;
}

/*moves the button down a pixel when depressed*/
.episodeAmpliarButton:active {
	position:relative;
	top:1px;
}

/*focused*/
.focusedEpisode{
    width: 480px;
}

.focusedEpisode img,
.focusedEpisode h2,
.focusedEpisode p{
    margin-bottom: 20px;
}

.focusedEpisode img{
    width: 480px;
    height: 290px;
    border-radius: 15px 45px;
}

.focusedEpisode strong:after{
    font-weight: normal;
    content: " | ";
}

.focusedEpisode br{
    display: none;
}

/*grid*/
.episodesGrid{
    width: 600px;
    display:flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.episodesGrid img,
.episodesGrid h2,
.episodesGrid p{
    margin-bottom: 5px;
}

.episodesGrid article{
    width: 180px;
    margin-bottom: 30px;
}

.episodesGrid img{
    width: 180px;
    height: 109px;
    border-radius: 5px 15px;
}

.episodesGrid .episodeDescriptionExtra {
    display: none;
}


/*=================FOOTER=================*/
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

footer{
    height:115px;
    width: 100%;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#disclaimer{
    height: 40px;
    margin-left: 25%;
}

#disclaimer p{
    color:white;
    text-align: center;
    line-height: 40px;
}

#socialMedia{
    height: 40px;
    margin: 0px var(--insideMargin) 0px 0px;
    display:flex;
    justify-content: flex-end;
}

#socialMedia ul{
    width: 200px;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}